# macOS system files
.DS_Store
**/.DS_Store

# Node.js dependencies
node_modules/

# Build directories
dist/
build/

# Environment variables
.env
.env.local

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo